API_PORT=8080

POSTGRES_DB=pos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

DB_HOST=postgres
DB_PORT=5432
DB_NAME=pos
DB_USERNAME=postgres
DB_PASSWORD=change-me

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me
PGADMIN_PORT=5050

JWT_SECRET=EBvh67YUUlvP8bzwEjD1dpOX77hE7jkDNKh5r4tc4ZU=
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

BOOTSTRAP_ADMIN_ENABLED=false
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_PASSWORD=

SPRINGDOC_API_DOCS_ENABLED=true
SPRINGDOC_SWAGGER_UI_ENABLED=true
